@model WebApplication2.Models.Board

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to ReadIt</h1>


    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="comment" class="control-label"></label>
            <input asp-for="comment" class="form-control" />
            <span asp-validation-for="comment" class="text-danger"></span>
            <br />
            <div class="form-group">
                <input type="submit" value="Index" class="btn btn-primary" />
            </div>
    </form>

    <br />
    <br />
    <br />
    
@foreach (var item in Model.comments) {
    @Html.DisplayFor(modelItem => item.comment)
    <br/>
}
</div>
